* {
  padding: 0;
  margin: 0;
}

.mystyle {
  margin-top: 20px;
}

.navbar-default {
	background-color: #fff;
  border-color: #fff;
}

.navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}

td {
  padding-right: 20px;
}

.newsstyle {
  border-style: solid;
  border-width: 2px 4px 4px 2px;
  margin-bottom: 10px;
}

.newsstyle h5{
	text-align: right;
	margin: 0;
	font-size: 16px;
  padding: 7px 0 7px 0;
}

.video {
  height: 500px;
  overflow: hidden;
}

.bottom {margin-bottom: 50px; }

.bottom > a {
  /*width: 23%;*/
  font-size: 18px;
  padding: 10px 16px;
  /*margin: 0 10px;*/
  border: 1px solid #ccc;
  border-radius: 6px;
}

.panel-default {border-color:white; }

.panel-default>.panel-heading {
  background-color:white;
  border-color:white;
  padding: 5px 5px;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}
.panel-body {
    padding: 5px;
}

@media (max-width: 767px) {
	.row1 {
		margin-left:-15px;
    margin-right:-15px;
	}
}
